parameters:
    level: max
    paths:
        - src
        - tests
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
        consoleApplicationLoader: tests/phpstan-cli.php
    scanDirectories:
        - var/cache/dev/Symfony/Config

